h1{
	color: lightblue;
	font-size: 60px;
}

#board{
	max-width: 640px;
	max-height: 320px;
	float: none; /* //or overflow: hidden; overrides bootstrap*/
	margin: auto;
}

.square{
	background-color: #fff;
	border: 2px solid #000;
	outline: none; /* keeps the blue line from showing up on our squares */
	width: 185px;
	height: 185px;
	font-size: 100px;
}

.square:hover{
	background-color: lightcyan;
}

#message {
	font-size: 40px;
	min-height: 80px;
}

.winning-square{
	background-color: slategray;
	color: black;
}